@model MoviesLibrary.Web.ViewModels.Movie.MovieViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Users/Views/Shared/_Layout.cshtml";
}

<header class="text-center text-danger">
    <p>
        <h1>@Model.Title</h1>
    </p>
    <div>
        <img src="@Url.Action("GetImage", "Home", new { area = string.Empty, id = Model.Images.FirstOrDefault(i => i.IsCover).ViewId })" class="img-responsive" />
    </div>
</header>
<section id="details">
    <div class="container">
        <h2 class="text-info">About Movie</h2>
        <div class="row">
            <div class="col-lg-6 col-md-6 padbot30">
                <p>
                    @Model.Description
                </p>
                <p>
                    Year: (@Model.Year)
                </p>
                @if (Model.Directors.Count() == 1)
                {
                    <p>
                        Director: @Model.Directors.FirstOrDefault()
                    </p>
                }
                else
                {
                    <p>
                        Directors: @string.Join(", ", Model.Directors)
                    </p>
                }
            </div>
            <div class="col-lg-6 col-md-6 padbot30">
                <div class="row">
                    @foreach (var image in Model.Images)
                    {
                        if (!image.IsCover)
                        {
                            <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6 padbot30 about_work">
                                <img src="@Url.Action("GetImage", "Home", new { id = image.ViewId })" />
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right">
                    <div class="row">
                        <h3 class="text-info">Actors</h3>
                        @foreach (var actorName in Model.Actors)
                        {
                            <div class="col-lg-6 col-md-6"><p>@actorName</p></div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>