@model MoviesLibrary.Web.ViewModels.Movie.MovieViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Users/Views/Shared/_Layout.cshtml";
}

<header class="text-center text-danger">
    <p>
        <h1>@Model.Title</h1>
    </p>
    <div class="row">
        <div class="col-lg-offset-1 col-md-offset-1 col-lg-6 col-md-6">
            <img src="@Url.Action("GetImage", "Home", new { area = string.Empty, id = Model.Images.FirstOrDefault(i => i.IsCover).ViewId })" class="img-responsive" />
        </div>
        <div class="col-lg-5 col-md-5">
            @if (Model.VideoId != null)
            {
                <div class="videoWrapper">
                    <object>
                        <param name="movie" value="http://www.youtube.com/v/@Model.VideoId" />
                        <param name="allowFullScreen" value="true" />
                        <param name="allowscriptaccess" value="always" />
                        <param name="wmode" value="opaque" />
                        <embed src="http://www.youtube.com/v/@Model.VideoId"
                               type="application/x-shockwave-flash"
                               allowscriptaccess="always" allowfullscreen="true"
                               wmode="opaque">
                        </embed>
                    </object>
                </div>
            }
        </div>
    </div>
</header>
<section id="details">
    <div class="container">
        <h2 class="text-info">About Movie</h2>
        <div class="row">
            <div class="col-lg-6 col-md-6 padbot30">
                <p>
                    @Model.Description
                </p>
                <p>
                    Year: @Model.Year
                </p>
                <p>
                    Genre: @Model.Genre
                </p>
                @if (Model.Directors.Count() == 1)
                {
                    <p>
                        Director: @Model.Directors.FirstOrDefault()
                    </p>
                }
                else
                {
                    <p>
                        Directors: @string.Join(", ", Model.Directors)
                    </p>
                }
                <p id="vote-value">
                    Rating:
                    @if (Model.RatingsCount == 0)
                    {
                        <span>no rating</span>
                    }
                    else
                    {
                        var starsCount = (Model.Rating / Model.RatingsCount);
                        for (int i = 0; i < starsCount; i++)
                        {
                            <span class="glyphicon glyphicon-star" data-rating="@(i + 1)"></span>
                        }
                    }
                </p>
            </div>
            <div class="col-lg-6 col-md-6 padbot30">
                <div class="row">
                    @foreach (var image in Model.Images)
                    {
                        if (!image.IsCover)
                        {
                            <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6 padbot30 about_work">
                                <img src="@Url.Action("GetImage", "Home", new { id = image.ViewId })" />
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pull-left">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <div class="well text-center">

                            <div class="row vote-icon" data-action="up"><span class="glyphicon glyphicon-arrow-up"></span></div>

                            <div class="row" id="movie-vote-value" data-id="@Model.Id">0</div>
                            <div class="row vote-icon" data-action="down"><span class="glyphicon glyphicon-arrow-down"></span></div>
                            <button id="btn-movie-vote" class="btn btn-success">Vote</button>
                        </div>
                    }
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right">
                    <div class="row">
                        <h3 class="text-info">Actors</h3>
                        @foreach (var actorName in Model.Actors)
                        {
                            <div class="col-lg-6 col-md-6 col-xs-6">
                                <p>
                                    <a href="/Users/Actors/GetMovies/@actorName" alt="@actorName">@actorName</a>
                                </p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript" src="~/Scripts/movie-vote.js"></script>
}