@model IEnumerable<MoviesLibrary.Web.ViewModels.Movie.MovieViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">@MoviesLibrary.Common.Globals.ApplicationConstants.Name</h1>
</div>

<h1 class="text-center page-title">Newest movies in library</h1>
<div class="row">
    @foreach (var movie in Model)
    {
        <div class="col-md-3">
            <h3 class="text-center">@movie.Title</h3>
            <p class="text-center">(@(movie.Year))</p>
            <p>
                <img src="@Url.Action("GetImage", "Home", new { id = movie.Images.FirstOrDefault(i => i.IsCover).ViewId })" class="img-responsive" />
            </p>
            <p>
                @if (movie.Description.Length > MoviesLibrary.Data.Common.Constants.MovieValidations.DescriptionMinLength)
                {
                    @(movie.Description.Substring(0, MoviesLibrary.Data.Common.Constants.MovieValidations.DescriptionMinLength) + "...")
                }
                else
                {
                    @movie.Description
                }
            </p>
            <p class="lead">
                @Html.ActionLink("Read More", "Details", "Movies", new { area = "Users", id = movie.ViewId }, new { @class = "btn btn-default" })
            </p>
            <ul class="list-inline">
                <li>added: @movie.CreatedOn.ToString("MM/dd/yyyy")</li>
            </ul>
        </div>
    }
</div>

<section>
    <div class="row">
        @Html.Action("GetYears", "Home", new { area = string.Empty })
    </div>
</section>