@model MoviesLibrary.Web.ViewModels.Movie.MovieInputModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

<h2>Create Movie</h2>

@using (Html.BeginForm("Create", "Movies", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Title, string.Empty, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control", required = "required" } )
                @Html.ValidationMessageFor(model => model.Description, string.Empty, new { @class = "text-danger" })
            </div>
        </div>

        @Html.Action("Genres", "Movies", new { area = "Users" })

        <div class="form-group">
            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Year, string.Empty, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.YouTubeVideoId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.YouTubeVideoId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.YouTubeVideoId, string.Empty, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Images", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="add-images-container">
                <input type="radio" value="0" name="PosterIndex" />
                <input type="file" name="movieImages" class="form-control" />
                @Html.ValidationMessageFor(model => model.MovieImages, string.Empty, new { @class = "text-danger" })
            </div>
            <div class="text-center">
                <input type="button" id="btn-add-image" class="btn btn-success" value="Add Image" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Actors, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="add-actor-container">
                @Html.ValidationMessageFor(model => model.Actors, string.Empty, new { @class = "text-danger" })
                <input type="text" name="Actors[0]" class="form-control" required="required" />
            </div>
            <div class="text-center">
                <input type="button" id="btn-add-actor" class="btn btn-success" value="Add Actor" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Directors, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="add-director-container">
                @Html.ValidationMessageFor(model => model.Directors, string.Empty, new { @class = "text-danger" })
                <input type="text" name="Directors[0]" class="form-control" required="required" />
            </div>
            <div class="text-center">
                <input type="button" id="btn-add-director" class="btn btn-success" value="Add Director" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section scripts{
    <script src="~/Scripts/movieUpload.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
}